<div class="container">
    <div class="panel panel-default box" style="margin-top: 25px">
            <div class="panel-heading" style="margin-bottom: 10px"><h3>Member Details</h3></div>
		        <div class="panel-body">
		            <h2>{{user.firstname}} {{user.lastname}}</h2>
		            &nbsp;
		            <p>Username: {{user.username}}</p>
		            <p>Email: {{user.email}}</p>
		            <p>Joined On: {{user.dateAdded}}</p>
		        </div>
		    </div>
		</div>